$font-stack: Helvetica, Sans-serif;
$primary-colour: #e1b382;
$primary-shadow: #c89666;
$seconday-color: #2d545e;
$secondary-shadow: #12343b;

footer {
  width: 100%;
  height: 15vh;
  background-color: $seconday-color;
  margin: auto;
}
