$font-stack: Helvetica, Sans-serif;
$primary-colour: #e1b382;
$primary-shadow: #c89666;
$seconday-color: #2d545e;
$secondary-shadow: #12343b;

header {
  height: 15vh;
  width: 100%;
  background-color: $primary-colour;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 40px;
  box-shadow: -2px 5px 24px -5px rgba(255, 113, 101, 0.4);
}
